@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/app.css" />
    <title>Index</title>
</head>
<body>
    <div class="content">
        <h1 class="saying">@ViewBag.Saying</h1>
    </div>
</body>
</html>
